div.masthead {
    background: linear-gradient(to bottom, rgba(255, 171, 0, 0.8), rgba(255, 171, 0, 0.8)), url("../assets/remy-big.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    /* margin-top: -1.68rem; */
    /* box-shadow: 0px -20px 50px 50px white inset; */
}@media (max-width:768px) {div.masthead {
    background: linear-gradient(to bottom, rgba(255, 171, 0, 0.8), rgba(255, 171, 0, 0.8)), url("../assets/remy-small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    /* text-align: right; */
    color: #f5f5f5;
    /* padding-top: 10rem;
    margin-right: 10rem; */
    text-shadow: rgb(120, 120, 120) 0px 1px 5px;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-align: right;
    margin-right: 10rem;
    color: white;
}

