div.masthead {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: url("../images/remy-big.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    /* background-size: cover; */
    /* height: 100vh;  */
}

@media (min-width:1457px) {div.masthead {
    background-size: cover;
}}

@media (max-width:425px) {div.masthead {
    background: url("../images/remy-small copy 2.jpg");
    /* width: 100%;
    height: 100%; */
    background-size: cover;
    padding-right: 8rem;
}}